@{
    Layout = "_Layout";
    ViewData["Title"] = "Privacy and Goal";
}
<h1>@ViewData["Title"]</h1>
<br />
<details>
    <summary >
        <i>Handling Data</i>
    </summary>
    <p style="text-align: justify; text-justify: inter-word; hyphens: auto;">
        "Pursuant to the Privacy Act of 2012, data acquisition is limited solely to developmental use and is not subject to retention or archival storage."
    </p>
</details>
<details>   
    <summary><i>Objective and Purpose</i></summary>
    <p style="text-align: justify; text-justify: inter-word; hyphens: auto;">
        Product ID and Name, Category like apparels, handheld items, accessories to normalize product categories. Price and total quantity sold is also needed to evaluate the product. The attributes mentioned are the selected relevant features for the model to evaluate to reduce minimal errors. Developing the Decision Tree Model with higher accuracy will require historical sales data from the Exchange office with proper request. Based on the studies of Salman et al., (2024), demonstrating the effectiveness of Decision Tree models in sales prediction concludes with their model’s accuracy reaching up to 96% accuracy with multi-class classification. Developing a model prior to that study is feasible with the goal of reaching an accuracy of 90% or above.
        The model is evaluated by its performance accuracy percentage and F1 score. If accuracy appears imbalanced, the F1 score will balance out to be more effective. Identifying that the Bulldogs Exchange needs a data-driven sales prediction model to boost the use of sales data. Gaining higher accuracy prediction from the model will improve sales performance and stock management efficiency ensuring popular products are consistently available relevant to optimizing marketing strategies for enhancing customer satisfaction, current trends and incoming marketing challenges. The model’s development, evaluation and tuning will need to be completed in less than 2 months and a month of implementation covering the whole 3rd term..
    </p>
</details>
<details>
    <summary><i>Expected Improvements</i></summary>
    <p style="text-align: justify; text-justify: inter-word; hyphens: auto;">
        •	Expected to improve sales that can be included in their future business analytics, when planning of sale strategies.
        <br />
        •	Specifically identify which product category sells the most.
        Overall sales should cause a significant improvement with the application of the Decision Tree algorithm. Indication that an implemented machine learning model can help replace or improve their current methods.
    </p>
</details>


